<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientName" value="insira o smtp" />
		<add key="User" value="insira o usuario" />
		<add key="Password" value="insira a senha" />
		<add key="port" value="587" />
		<add key="Sender" value="insira o email de envio" />
		<add key="Recipient" value="insira o email alvo" />
		<add key="Subject" value="Alerta de preço do ativo: " />
		<add key="SellEmailBody" value="venda a ação" />
		<add key="BuyEmailBody" value="compre a ação" />
	</appSettings>
</configuration>